dlib
absl-py==1.4.0
ace_tools==0.0
acres==0.3.0
ale-py==0.8.1
altair==5.5.0
altgraph==0.17.3
annotated-types==0.7.0
anyio==4.8.0
api==0.0.7
astunparse==1.6.3
attrs==23.1.0
AutoROM==0.6.1
AutoROM.accept-rom-license==0.6.1
beautifulsoup4==4.12.2
blender==1.4
blinker==1.6.2
blis==1.2.0
Box2D==2.3.2
box2d-py==2.3.5
cachetools==5.3.1
catalogue==2.0.10
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0        
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==2.2.1
cmake==3.27.4.1
colorama==0.4.6
comtypes==1.4.10
confection==0.1.5
configobj==5.0.9
configparser==7.2.0
conllu==6.0.0
contourpy==1.1.0
cowsay==5.0
cvzone==1.5.6
cycler==0.11.0
cymem==2.0.11
datashape==0.5.2
deepface==0.0.79
distro==1.9.0
dot==0.3.0
EasyProcess==1.1
entrypoint2==1.1
etelemetry==0.3.1
eval_type_backport==0.2.2
face-recognition==1.3.0
face-recognition-models==0.3.0
Farama-Notifications==0.0.4
filelock==3.12.3
fire==0.5.0
Flask==2.3.3
flatbuffers==25.2.10
fonttools==4.42.1
fsspec==2025.2.0
gast==0.4.0
gdown==4.7.1
gensim==4.3.3
gitdb==4.0.10
GitPython==3.1.35
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.58.0
gTTS==2.3.2
gunicorn==21.2.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
h11==0.14.0
h5py==3.13.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.29.1
idna==3.4
imageio==2.37.0
imbalanced-learn==0.13.0
imblearn==0.0
importlib-resources==6.1.0
iniconfig==2.0.0
isodate==0.6.1
itsdangerous==2.1.2
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.2
jiter==0.8.2
joblib==1.4.2
jsonpath-python==1.0.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==2.12.0
kiwisolver==1.4.5
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
libclang==16.0.6
LinearRegression==0.0.1
looseversion==1.3.0
lxml==5.3.1
marisa-trie==1.2.1
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
mdurl==0.1.2
mediapipe==0.10.3
medmnist==3.0.2
mistralai==1.5.0
ml_dtypes==0.5.1
mock==5.1.0
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.1
mtcnn==0.1.1
multipledispatch==1.0.0
murmurhash==1.0.12
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.25.2
networkx==3.1
nibabel==5.3.2
nipype==1.10.0
nltk==3.9.1
nmslib-metabrainz==2.1.3
nose==1.3.7
numpy==1.23.5
oauthlib==3.2.2
odo==0.5.0
openai==1.65.0
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
opt-einsum==3.3.0
optree==0.14.1
packaging==23.1
pandas==2.2.3
pathlib==1.0.1
pathlib_abc==0.1.1
pathy==0.11.0
patsy==1.0.1
pefile==2023.2.7
pillow==11.1.0
pluggy==1.2.0
policy==1.0.0
preshed==3.0.9
protobuf==3.20.3
prov==2.0.1
psutil==5.9.5
puremagic==1.28
py-cpuinfo==9.0.0
pyarrow==19.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
PyAutoGUI==0.9.54
pybind11==2.13.6
pycparser==2.21
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
pydot==3.0.4
pygame==2.5.1
PyGetWindow==0.0.9
Pygments==2.16.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
PyMedTermino==0.3.3
PyMsgBox==1.0.9
PyMuPDF==1.25.4
pynput==1.7.6
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
pysbd==0.3.4
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
pytesseract==0.3.13
pytest==7.4.0
python-dateutil==2.8.2
pyttsx3==2.98
pytweening==1.0.7
pytz==2023.3
pywin32==309
pywin32-ctypes==0.2.2
pyxnat==1.6.3
PyYAML==6.0.1
RapidFuzz==3.12.1
rdflib==6.3.2
referencing==0.36.2
regex==2024.11.6
relaxml==0.1.3
requests==2.31.0
requests-oauthlib==1.3.1
retina-face==0.0.13
rich==13.5.3
rpds-py==0.22.3
rsa==4.9
safetensors==0.5.2
scapy==2.6.1
scikit-image==0.25.1
scikit-learn==1.2.2
scipy==1.10.1
scispacy==0.5.5
seaborn==0.13.2
sentence-transformers==3.4.1
shellingham==1.5.4
Shimmy==1.1.0
simplejson==3.19.3
six==1.16.0
sklearn-compat==0.1.3
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.1
sounddevice==0.4.6
soupsieve==2.5
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.0
srsly==2.5.1
stable-baselines3==2.1.0
statsmodels==0.14.0
stopwords==1.0.1
streamlit==1.42.2
swig==4.1.1
sympy==1.12
tenacity==9.0.0
tensorboard==2.12.3
tensorboard-data-server==0.7.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_keras==0.1
termcolor==2.3.0
thefuzz==0.22.1
thinc==8.3.4
threadpoolctl==3.5.0
three==0.8.0
tifffile==2025.1.10
tokenizers==0.21.0
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.4.2
tqdm==4.66.1
traits==7.0.2
transformers==4.49.0
typer==0.7.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
ultralytics==8.0.173
urllib3==1.26.16
wasabi==0.10.1
watchdog==6.0.0
weasel==0.3.4
Werkzeug==2.3.7
wrapt==1.14.1
xgboost==2.1.4
